.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #111111;
  padding: 8px;
  user-select: none;
  width: 80px;
  min-width: 80px;
}

.iconSvg {
  margin-bottom: 6px;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.iconOpen {
  transform: rotate(135deg);
}

.text {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
}