/* Logo.module.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@700;900&display=swap');

.logo {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  user-select: none;
  letter-spacing: -12%;
}

/* 色のバリエーション */
.black {
  color: #000000;
}

.pink {
  color: #CD3796;
}

.white {
  color: #FFFFFF;
}