.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
}
.textWrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 15px;
  font-weight: 700;
  color: #111111;
  margin: 0 0 9px 0;
}
.subtitle {
  font-size: 12px;
  color: #808080;
  margin: 0;
}