/* SimpleButton.module.css */

.button {
  font-family: "Zen Kaku Gothic New", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 11px 41px; 
  border-radius: 9999px; 
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.1em;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  opacity: 0.85;
}

.black {
  background-color: #333333;
}

.pink {
  background-color: #CE4298;
}